.method {
  background-color: #E6E6E6;
}
.wy-nav-content {
  max-width: 1200px;
}
.wy-side-nav-search {
  background: rgba(19, 3, 18, 0.76);
}

.wy-menu-vertical a:hover {
    background-color: #A569BD;
}
.wy-menu-vertical a:active {
    background-color: #A569BD;
}
.wy-nav-side {
    background: rgba(122, 123, 120, 0.87);
}
